workflows/D6EbsMm8Momg4iPO-TRG_-_Manual_Backup_Test.json
{
  "exported_at": "2026-05-19T10:17:34.453Z",
  "source": "n8n-public-api",
  "backup_type": "stable_single_workflow_file",
  "workflow_id": "D6EbsMm8Momg4iPO",
  "workflow_name": "TRG - Manual Backup Test",
  "warning": "Workflow JSON backup. Credentials secrets are not stored here.",
  "workflow": {
    "updatedAt": "2026-05-19T10:17:32.038Z",
    "createdAt": "2026-05-18T08:48:44.407Z",
    "id": "D6EbsMm8Momg4iPO",
    "name": "TRG - Manual Backup Test",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -112,
          0
        ],
        "id": "684419dd-7cb4-417a-b7dc-31d2ca8c66f6",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9bd4c7cb-fb46-4c77-8fab-8c347a59b419",
                "name": "repo_owner",
                "value": "oceansentinelle",
                "type": "string"
              },
              {
                "id": "7ee0cf8b-6639-4faa-9392-504e3065aa40",
                "name": "repo_name",
                "value": "n8n2026",
                "type": "string"
              },
              {
                "id": "232eea49-99ef-43ba-be44-f6af2165892e",
                "name": "branch",
                "value": "main",
                "type": "string"
              },
              {
                "id": "eda29719-e2a7-4999-ae15-14e4f6a4820f",
                "name": "backup_root",
                "value": "workflows",
                "type": "string"
              },
              {
                "id": "87b475e1-e422-44e1-a843-dd5d3128efc3",
                "name": "n8n_base_url",
                "value": "https://pilat.oceansentinelle.org",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          144,
          0
        ],
        "id": "7053b8f9-056b-4ac3-afcd-12bacc4091ba",
        "name": "CFG - Backup Config"
      },
      {
        "parameters": {
          "url": "https://pilat.oceansentinelle.org/api/v1/workflows?limit=100",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          352,
          0
        ],
        "id": "7cde27aa-cfc0-41e4-a7fd-c5307eb8e91e",
        "name": "N8N - List Workflows",
        "credentials": {
          "httpHeaderAuth": {
            "id": "lmpA7bvhUojvSRyb",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const cfg = $node[\"CFG - Backup Config\"].json;\n\nconst workflows = $json.data || [];\n\nif (!Array.isArray(workflows) || workflows.length === 0) {\n  return [\n    {\n      json: {\n        ...cfg,\n        status: \"NO_WORKFLOWS_FOUND\",\n        message: \"No workflows returned by n8n API.\"\n      }\n    }\n  ];\n}\n\nreturn workflows.map(workflow => ({\n  json: {\n    ...cfg,\n    workflow_id: workflow.id,\n    workflow_name: workflow.name,\n    workflow_active: workflow.active,\n    workflow_updated_at: workflow.updatedAt || null,\n    workflow_created_at: workflow.createdAt || null,\n    workflow_archived: workflow.isArchived || false\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          0
        ],
        "id": "d48ecc10-46a1-4a9a-a3d8-c1890de1a1f0",
        "name": "CODE - Extract Workflow IDs"
      },
      {
        "parameters": {
          "url": "={{$json.n8n_base_url}}/api/v1/workflows/{{$json.workflow_id}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          768,
          0
        ],
        "id": "3aefc4e6-6e6d-49c1-8de9-9ab2054b4c76",
        "name": "N8N - Get Workflow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "lmpA7bvhUojvSRyb",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const cfg = $node[\"CFG - Backup Config\"].json;\nconst items = $input.all();\n\nconst now = new Date();\n\nfunction slugify(value) {\n  return String(value || \"unnamed-workflow\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-zA-Z0-9-_]+/g, \"_\")\n    .replace(/^_+|_+$/g, \"\")\n    .slice(0, 120);\n}\n\nreturn items.map((item, index) => {\n  const workflow = item.json.data || item.json;\n\n  if (!workflow.id || !workflow.name) {\n    throw new Error(\n      `Workflow item ${index + 1} is missing id or name. Check that this node is connected after \"N8N - Get Workflow\".`\n    );\n  }\n\n  const workflowId = workflow.id;\n  const workflowName = workflow.name;\n  const safeName = slugify(workflowName);\n\n  const backupPayload = {\n    exported_at: now.toISOString(),\n    source: \"n8n-public-api\",\n    backup_type: \"stable_single_workflow_file\",\n    workflow_id: workflowId,\n    workflow_name: workflowName,\n    warning: \"Workflow JSON backup. Credentials secrets are not stored here.\",\n    workflow\n  };\n\n  const jsonText = JSON.stringify(backupPayload, null, 2);\n  const contentBase64 = Buffer.from(jsonText, \"utf8\").toString(\"base64\");\n\n  return {\n    json: {\n      repo_owner: cfg.repo_owner,\n      repo_name: cfg.repo_name,\n      branch: cfg.branch,\n      workflow_id: workflowId,\n      workflow_name: workflowName,\n      path: `${cfg.backup_root}/${workflowId}-${safeName}.json`,\n      content_b64: contentBase64,\n      commit_message: `backup(n8n): update ${workflowName} - ${now.toISOString()}`\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          976,
          0
        ],
        "id": "03207b78-b187-454f-9ccd-e0fc0951e17c",
        "name": "CODE - Prepare GitHub Files"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1200,
          0
        ],
        "id": "1e51db42-81d4-4931-97db-796bd47dfaa1",
        "name": "LOOP - One Workflow at a Time"
      },
      {
        "parameters": {
          "url": "=https://api.github.com/repos/{{$json.repo_owner}}/{{$json.repo_name}}/contents/{{$json.path}}?ref={{$json.branch}}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1424,
          16
        ],
        "id": "b834ce03-d020-4798-b607-7503d6841fb0",
        "name": "GitHub - Get Existing File",
        "retryOnFail": true,
        "credentials": {
          "githubApi": {
            "id": "cNmrftw1DHjLKKIl",
            "name": "GitHub account 2"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "0a6ef73c-50d8-4e21-806f-551cb62d215f",
                "leftValue": "=Value 1:\n{{$json.github_exists}}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1824,
          32
        ],
        "id": "349e3fdd-f2b7-4fab-be6e-6cd554b9dfd6",
        "name": "IF - File Exists?"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.github.com/repos/{{$json.repo_owner}}/{{$json.repo_name}}/contents/{{$json.path}}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{$json.message}}"
              },
              {
                "name": "content",
                "value": "={{$json.content}}"
              },
              {
                "name": "branch",
                "value": "={{$json.branch}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2096,
          144
        ],
        "id": "8fb9c67f-1c89-4ab3-8759-7005ae9e51e6",
        "name": "GitHub - Create File",
        "credentials": {
          "githubApi": {
            "id": "cNmrftw1DHjLKKIl",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.github.com/repos/{{$json.repo_owner}}/{{$json.repo_name}}/contents/{{$json.path}}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"message\": \"{{$json.message}}\",\n  \"content\": \"{{$json.content}}\",\n  \"branch\": \"{{$json.branch}}\",\n  \"sha\": \"{{$json.sha}}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2096,
          -32
        ],
        "id": "b112e49a-a205-469b-8099-fa5c16b51287",
        "name": "GitHub - Update File",
        "credentials": {
          "githubApi": {
            "id": "cNmrftw1DHjLKKIl",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const lookup = $json || {};\nconst source = $('LOOP - One Workflow at a Time').item.json;\n\nconst sha =\n  lookup.sha ||\n  lookup.body?.sha ||\n  lookup.content?.sha ||\n  null;\n\nreturn {\n  json: {\n    repo_owner: source.repo_owner,\n    repo_name: source.repo_name,\n    branch: source.branch,\n    path: source.path,\n    message: source.commit_message,\n    content: source.content_b64,\n    github_exists: Boolean(sha),\n    sha\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1632,
          16
        ],
        "id": "461e3399-3d09-4894-adc5-f226941190fd",
        "name": "CODE - Normalize GitHub Lookup"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "CFG - Backup Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CFG - Backup Config": {
        "main": [
          [
            {
              "node": "N8N - List Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "N8N - List Workflows": {
        "main": [
          [
            {
              "node": "CODE - Extract Workflow IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CODE - Extract Workflow IDs": {
        "main": [
          [
            {
              "node": "N8N - Get Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "N8N - Get Workflow": {
        "main": [
          [
            {
              "node": "CODE - Prepare GitHub Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CODE - Prepare GitHub Files": {
        "main": [
          [
            {
              "node": "LOOP - One Workflow at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LOOP - One Workflow at a Time": {
        "main": [
          [],
          [
            {
              "node": "GitHub - Get Existing File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub - Get Existing File": {
        "main": [
          [
            {
              "node": "CODE - Normalize GitHub Lookup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - File Exists?": {
        "main": [
          [
            {
              "node": "GitHub - Update File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GitHub - Create File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CODE - Normalize GitHub Lookup": {
        "main": [
          [
            {
              "node": "IF - File Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub - Update File": {
        "main": [
          [
            {
              "node": "LOOP - One Workflow at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub - Create File": {
        "main": [
          [
            {
              "node": "LOOP - One Workflow at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "856e1334-4fdc-405f-8647-f5e12bafc327",
    "activeVersionId": null,
    "versionCounter": 497,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-05-18T08:48:44.409Z",
        "createdAt": "2026-05-18T08:48:44.409Z",
        "role": "workflow:owner",
        "workflowId": "D6EbsMm8Momg4iPO",
        "projectId": "qlEaY3fnWiZ7Khw6",
        "project": {
          "updatedAt": "2026-05-18T12:36:49.449Z",
          "createdAt": "2026-05-14T17:32:02.968Z",
          "id": "qlEaY3fnWiZ7Khw6",
          "name": "ale castro <oceansentinella@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "29b39541-7e2a-40bc-8c49-32c8cee71352"
        }
      }
    ],
    "tags": [],
    "activeVersion": null
  }
}