workflows/V8z6pvWfDyUuoEw9-PILAT_003_Webhook_Controlled_Chatbot.json
{
  "exported_at": "2026-05-20T14:28:02.934Z",
  "source": "n8n-public-api",
  "backup_type": "stable_single_workflow_file",
  "workflow_id": "V8z6pvWfDyUuoEw9",
  "workflow_name": "PILAT_003_Webhook_Controlled_Chatbot",
  "warning": "Workflow JSON backup. Credentials secrets are not stored here.",
  "workflow": {
    "updatedAt": "2026-05-20T11:29:53.005Z",
    "createdAt": "2026-05-19T20:50:51.965Z",
    "id": "V8z6pvWfDyUuoEw9",
    "name": "PILAT_003_Webhook_Controlled_Chatbot",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pilat-003-controlled-chatbot",
          "responseMode": "lastNode",
          "options": {
            "responseCode": {
              "values": {}
            }
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -560,
          -16
        ],
        "id": "26c7ec47-ecb3-4f76-a360-f93cb285b119",
        "name": "WEBHOOK - PILAT Website Chat Input",
        "webhookId": "ad5b7509-34d9-4d26-8d87-9e2e749c1e50"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "28484e07-2215-46da-8a08-d014df58e003",
                "name": "question",
                "value": "={{ $json.body.question || $json.question }}",
                "type": "string"
              },
              {
                "id": "9603b76d-d390-43ab-953d-f9ee87caa8cc",
                "name": "session_id",
                "value": "={{ $json.body.session_id || $json.session_id || \"anonymous-session\" }}",
                "type": "string"
              },
              {
                "id": "b5412a18-5b75-4909-b129-356329335007",
                "name": "mode",
                "value": "controlled_chatbot",
                "type": "string"
              },
              {
                "id": "3f4cd682-26f8-4fc5-b07f-be94ef401b29",
                "name": "collection_name",
                "value": "pilat_validated_doctrine_v1",
                "type": "string"
              },
              {
                "id": "e585d61c-fb20-45b0-971e-5c4992d541b4",
                "name": "top_k",
                "value": 5,
                "type": "number"
              },
              {
                "id": "456b4759-5f6d-4032-adac-3026874fcfd1",
                "name": "public_chatbot",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "068b00a0-50c5-420d-8230-aacebe46650d",
                "name": "doctrine_rule",
                "value": "SCENARIO != MEASURED",
                "type": "string"
              },
              {
                "id": "8ab0bd2b-5289-4d78-b0cb-c11228a70622",
                "name": "fallback_message",
                "value": "Je ne dispose pas d’un extrait validé suffisant dans la doctrine PILAT pour répondre avec certitude.",
                "type": "string"
              },
              {
                "id": "902a4975-4f81-4d6e-963d-eb7a263996e4",
                "name": " source",
                "value": "website",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -352,
          -16
        ],
        "id": "7e36fa72-2390-4261-a1fb-277175b9e470",
        "name": "SET - Normalize Website Question"
      },
      {
        "parameters": {
          "mode": "load",
          "qdrantCollection": {
            "__rl": true,
            "value": "pilat_validated_doctrine_v1",
            "mode": "list",
            "cachedResultName": "pilat_validated_doctrine_v1"
          },
          "prompt": "={{ $json.question }}",
          "topK": 5,
          "includeDocumentMetadata": false,
          "options": {
            "metadataPayloadKey": "metadata"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          -160,
          -16
        ],
        "id": "4c4ca057-d0b1-48e6-a686-864e5301272f",
        "name": "VDB - Retrieve PILAT Doctrine",
        "credentials": {
          "qdrantApi": {
            "id": "AGu8ejbcdwxIs3ie",
            "name": "Qdrant account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -176,
          176
        ],
        "id": "32365298-5d9d-44a5-b4eb-8312fba2ecba",
        "name": "EMB - OpenAI Query Embeddings",
        "credentials": {
          "openAiApi": {
            "id": "MYYSf11WGCXxWv4r",
            "name": "OpenAI PILAT Embeddings"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nconst retrievedDocuments = items.map((item, index) => {\n  const document = item.json.document || {};\n  const metadata = document.metadata || {};\n  const pageContent = document.pageContent || \"\";\n  const score = item.json.score ?? null;\n\n  return {\n    rank: index + 1,\n    score,\n    chunk_id: metadata.chunk_id || null,\n    document_title: metadata.document_title || null,\n    section_path: metadata.section_path || null,\n    statut_document: metadata.statut_document || null,\n    validation: metadata.validation || null,\n    content: pageContent\n  };\n});\n\nreturn [\n  {\n    json: {\n      question: $(\"SET - Normalize Website Question\").first().json.question,\n      session_id: $(\"SET - Normalize Website Question\").first().json.session_id,\n      mode: \"controlled_chatbot\",\n      source: \"website\",\n      public_chatbot: false,\n      source_collection: \"pilat_validated_doctrine_v1\",\n      retrieved_count: retrievedDocuments.length,\n      retrieved_documents: JSON.stringify(retrievedDocuments, null, 2),\n      doctrine_rule: \"SCENARIO != MEASURED\",\n      fallback_message: $(\"SET - Normalize Website Question\").first().json.fallback_message,\n      decision_retrieval: retrievedDocuments.length > 0 ? \"GO\" : \"HOLD\"\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          -16
        ],
        "id": "05f676e1-d0ce-458e-a388-e937ffb06ac9",
        "name": "CODE - Build Retrieved Context"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Question :\n{{ $json.question }}\n\nExtraits validés :\n{{ $json.retrieved_documents }}",
          "messages": {
            "messageValues": [
              {
                "type": "AIMessagePromptTemplate",
                "message": "=Tu es PILAT, assistant doctrinal explicable.\n\nTu dois répondre uniquement à partir des extraits fournis.\nTu ne dois pas inventer de doctrine.\nTu dois distinguer clairement SCENARIO et MEASURED.\n\nSi les extraits ne suffisent pas, réponds exactement :\n“Je ne dispose pas d’un extrait validé suffisant dans la doctrine PILAT pour répondre avec certitude.”\n\nFormat attendu :\n\n1. Réponse courte\n2. Justification doctrinale\n3. Extraits utilisés\n4. Limites\n5. Décision GO/HOLD"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          352,
          -16
        ],
        "id": "a863d2a3-3a62-458b-9931-789554031de2",
        "name": "AI - Controlled PILAT Answer"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "id",
            "value": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          384,
          208
        ],
        "id": "158919b7-33b5-4050-bf6d-aece4c19d073",
        "name": "MODEL - OpenAI Controlled Answer",
        "credentials": {
          "openAiApi": {
            "id": "MYYSf11WGCXxWv4r",
            "name": "OpenAI PILAT Embeddings"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const current = $input.first().json || {};\n\nfunction safeNode(name) {\n  try {\n    return $(name).first().json || {};\n  } catch (error) {}\n\n  try {\n    return $items(name, 0, 0)[0]?.json || {};\n  } catch (error) {}\n\n  return {};\n}\n\nfunction firstDefined(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && value !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction asText(value) {\n  if (value === undefined || value === null) return '';\n\n  if (typeof value === 'string') return value.trim();\n\n  if (typeof value === 'number' || typeof value === 'boolean') {\n    return String(value);\n  }\n\n  if (Array.isArray(value)) {\n    return value.map(asText).filter(Boolean).join('\\n').trim();\n  }\n\n  if (typeof value === 'object') {\n    return asText(\n      firstDefined(\n        value.answer,\n        value.output,\n        value.text,\n        value.content,\n        value.message?.content,\n        value.response?.answer,\n        value.response?.output,\n        value.response?.text,\n        value.response?.content,\n        value.choices?.[0]?.message?.content\n      )\n    );\n  }\n\n  return '';\n}\n\nfunction extractAnswer(...objects) {\n  for (const obj of objects) {\n    const answer = asText(\n      firstDefined(\n        obj.answer,\n        obj.output,\n        obj.text,\n        obj.response,\n        obj.result,\n        obj.message?.content,\n        obj.choices?.[0]?.message?.content,\n        obj.data?.answer,\n        obj.data?.output\n      )\n    );\n\n    if (answer) return answer;\n  }\n\n  return '';\n}\n\nfunction retrievedCountFrom(obj) {\n  const directCount = firstDefined(\n    obj.retrieved_count,\n    obj.retrievedCount,\n    obj.matches_count,\n    obj.count\n  );\n\n  if (directCount !== '') {\n    const parsed = Number(directCount);\n    if (Number.isFinite(parsed)) return parsed;\n  }\n\n  for (const key of ['retrieved', 'matches', 'documents', 'chunks', 'sources', 'results']) {\n    if (Array.isArray(obj[key])) return obj[key].length;\n  }\n\n  return 0;\n}\n\nconst normalized = safeNode('SET - Normalize Website Question');\nconst retrieved = safeNode('CODE - Build Retrieved Context');\nconst aiAnswer = safeNode('AI - Controlled PILAT Answer');\nconst modelAnswer = safeNode('MODEL - OpenAI Controlled Answer');\n\nlet generatedSessionId = `pilat-${Date.now()}`;\ntry {\n  if ($execution?.id) {\n    generatedSessionId = `pilat-${$execution.id}`;\n  }\n} catch (error) {}\n\nconst sessionId = asText(\n  firstDefined(\n    normalized.session_id,\n    normalized.body?.session_id,\n    current.session_id,\n    current.body?.session_id,\n    generatedSessionId\n  )\n);\n\nconst question = asText(\n  firstDefined(\n    normalized.question,\n    normalized.body?.question,\n    current.question,\n    current.body?.question\n  )\n);\n\nconst answer = extractAnswer(current, aiAnswer, modelAnswer);\n\nconst retrievedCount =\n  retrievedCountFrom(retrieved) ||\n  retrievedCountFrom(current);\n\nreturn [\n  {\n    json: {\n      status: 'GO',\n      mode: 'controlled_chatbot',\n      public_chatbot: false,\n      source: 'website',\n      session_id: sessionId,\n      question,\n      answer,\n      source_collection: 'pilat_validated_doctrine_v1',\n      doctrine_rule: 'SCENARIO != MEASURED',\n      retrieved_count: retrievedCount,\n      decision: 'GO for controlled website chatbot test; HOLD public release'\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          -16
        ],
        "id": "47340c47-5652-462b-bc07-4fc3c1f2f76f",
        "name": "CODE - Format Website Response"
      }
    ],
    "connections": {
      "WEBHOOK - PILAT Website Chat Input": {
        "main": [
          [
            {
              "node": "SET - Normalize Website Question",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SET - Normalize Website Question": {
        "main": [
          [
            {
              "node": "VDB - Retrieve PILAT Doctrine",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "EMB - OpenAI Query Embeddings": {
        "ai_embedding": [
          [
            {
              "node": "VDB - Retrieve PILAT Doctrine",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "VDB - Retrieve PILAT Doctrine": {
        "main": [
          [
            {
              "node": "CODE - Build Retrieved Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MODEL - OpenAI Controlled Answer": {
        "ai_languageModel": [
          [
            {
              "node": "AI - Controlled PILAT Answer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "CODE - Build Retrieved Context": {
        "main": [
          [
            {
              "node": "AI - Controlled PILAT Answer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI - Controlled PILAT Answer": {
        "main": [
          [
            {
              "node": "CODE - Format Website Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "9e4a07ed-b27a-4ad8-adbb-2e7c3aa1d0e4",
    "activeVersionId": null,
    "versionCounter": 156,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-05-19T20:50:51.969Z",
        "createdAt": "2026-05-19T20:50:51.969Z",
        "role": "workflow:owner",
        "workflowId": "V8z6pvWfDyUuoEw9",
        "projectId": "qlEaY3fnWiZ7Khw6",
        "project": {
          "updatedAt": "2026-05-18T12:36:49.449Z",
          "createdAt": "2026-05-14T17:32:02.968Z",
          "id": "qlEaY3fnWiZ7Khw6",
          "name": "ale castro <oceansentinella@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "29b39541-7e2a-40bc-8c49-32c8cee71352"
        }
      }
    ],
    "tags": [],
    "activeVersion": null
  }
}