projects/SYSTEM/2026-05-18/TRG_-_Manual_Backup_Test__D6EbsMm8Momg4iPO__2026-05-18T18-50-29-112Z.json
{
  "exported_at": "2026-05-18T18:50:29.112Z",
  "source": "n8n-public-api",
  "project_folder": "SYSTEM",
  "workflow_id": "D6EbsMm8Momg4iPO",
  "workflow_name": "TRG - Manual Backup Test",
  "backup_type": "single_workflow_backup",
  "warning": "Workflow JSON backup. Credentials secrets are not stored here.",
  "workflow": {
    "updatedAt": "2026-05-18T18:40:03.273Z",
    "createdAt": "2026-05-18T08:48:44.407Z",
    "id": "D6EbsMm8Momg4iPO",
    "name": "TRG - Manual Backup Test",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "684419dd-7cb4-417a-b7dc-31d2ca8c66f6",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9bd4c7cb-fb46-4c77-8fab-8c347a59b419",
                "name": "repo_owner",
                "value": "oceansentinelle",
                "type": "string"
              },
              {
                "id": "7ee0cf8b-6639-4faa-9392-504e3065aa40",
                "name": "repo_name",
                "value": "n8n2026",
                "type": "string"
              },
              {
                "id": "232eea49-99ef-43ba-be44-f6af2165892e",
                "name": "branch",
                "value": "main",
                "type": "string"
              },
              {
                "id": "eda29719-e2a7-4999-ae15-14e4f6a4820f",
                "name": "backup_root",
                "value": "workflows",
                "type": "string"
              },
              {
                "id": "87b475e1-e422-44e1-a843-dd5d3128efc3",
                "name": "n8n_base_url",
                "value": "https://pilat.oceansentinelle.org",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          144,
          0
        ],
        "id": "7053b8f9-056b-4ac3-afcd-12bacc4091ba",
        "name": "CFG - Backup Config"
      },
      {
        "parameters": {
          "url": "https://pilat.oceansentinelle.org/api/v1/workflows?limit=100",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          352,
          0
        ],
        "id": "7cde27aa-cfc0-41e4-a7fd-c5307eb8e91e",
        "name": "N8N - List Workflows",
        "credentials": {
          "httpHeaderAuth": {
            "id": "lmpA7bvhUojvSRyb",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const cfg = $node[\"CFG - Backup Config\"].json;\n\nconst workflows = $json.data || [];\n\nif (!Array.isArray(workflows) || workflows.length === 0) {\n  return [\n    {\n      json: {\n        ...cfg,\n        status: \"NO_WORKFLOWS_FOUND\",\n        message: \"No workflows returned by n8n API.\"\n      }\n    }\n  ];\n}\n\nreturn workflows.map(workflow => ({\n  json: {\n    ...cfg,\n    workflow_id: workflow.id,\n    workflow_name: workflow.name,\n    workflow_active: workflow.active,\n    workflow_updated_at: workflow.updatedAt || null,\n    workflow_created_at: workflow.createdAt || null,\n    workflow_archived: workflow.isArchived || false\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          0
        ],
        "id": "d48ecc10-46a1-4a9a-a3d8-c1890de1a1f0",
        "name": "CODE - Extract Workflow IDs"
      },
      {
        "parameters": {
          "url": "={{$json.n8n_base_url}}/api/v1/workflows/{{$json.workflow_id}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          768,
          0
        ],
        "id": "3aefc4e6-6e6d-49c1-8de9-9ab2054b4c76",
        "name": "N8N - Get Workflow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "lmpA7bvhUojvSRyb",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.github.com/repos/{{$json.repo_owner}}/{{$json.repo_name}}/contents/{{$json.path}}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{$json.commit_message}}"
              },
              {
                "name": "content",
                "value": "={{$json.content_b64}}"
              },
              {
                "name": "branch",
                "value": "={{$json.branch}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1424,
          0
        ],
        "id": "a710bd26-d834-49e0-a3c4-5c107937d2af",
        "name": "GitHub - Create Backup File",
        "credentials": {
          "githubOAuth2Api": {
            "id": "a82P3hC39flyG8J8",
            "name": "GitHub account"
          },
          "githubApi": {
            "id": "cNmrftw1DHjLKKIl",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1152,
          0
        ],
        "id": "a214a365-1438-49ae-9628-93cf068284e2",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "jsCode": "const cfg = $node[\"CFG - Backup Config\"].json;\nconst items = $input.all();\n\nconst now = new Date();\nconst date = now.toISOString().slice(0, 10);\nconst timestamp = now.toISOString().replace(/[:.]/g, \"-\");\n\nfunction slugify(value) {\n  return String(value || \"unnamed-workflow\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-zA-Z0-9-_]+/g, \"_\")\n    .replace(/^_+|_+$/g, \"\")\n    .slice(0, 120);\n}\n\nfunction projectFolderFromWorkflowName(name) {\n  const value = String(name || \"\").toUpperCase();\n\n  if (value.startsWith(\"PILAT\")) return \"PILAT\";\n  if (value.includes(\"BACKUP\") || value.startsWith(\"00_SYSTEM\")) return \"SYSTEM\";\n\n  return \"OTHER\";\n}\n\nreturn items.map((item, index) => {\n  const workflow = item.json.data || item.json;\n\n  if (!workflow.id || !workflow.name) {\n    throw new Error(\n      `Workflow item ${index + 1} is missing id or name. Check that this node is connected after \"N8N - Get Workflow\".`\n    );\n  }\n\n  const workflowId = workflow.id;\n  const workflowName = workflow.name;\n  const safeName = slugify(workflowName);\n  const projectFolder = projectFolderFromWorkflowName(workflowName);\n\n  const backupPayload = {\n    exported_at: now.toISOString(),\n    source: \"n8n-public-api\",\n    project_folder: projectFolder,\n    workflow_id: workflowId,\n    workflow_name: workflowName,\n    backup_type: \"single_workflow_backup\",\n    warning: \"Workflow JSON backup. Credentials secrets are not stored here.\",\n    workflow\n  };\n\n  const jsonText = JSON.stringify(backupPayload, null, 2);\n  const contentBase64 = Buffer.from(jsonText, \"utf8\").toString(\"base64\");\n\n  return {\n    json: {\n      repo_owner: cfg.repo_owner,\n      repo_name: cfg.repo_name,\n      branch: cfg.branch,\n      project_folder: projectFolder,\n      workflow_id: workflowId,\n      workflow_name: workflowName,\n      exported_at: now.toISOString(),\n      path: `projects/${projectFolder}/${date}/${safeName}__${workflowId}__${timestamp}.json`,\n      content_b64: contentBase64,\n      commit_message: `backup(n8n): ${projectFolder}/${workflowName} - ${now.toISOString()}`\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          976,
          0
        ],
        "id": "03207b78-b187-454f-9ccd-e0fc0951e17c",
        "name": "CODE - Prepare GitHub Files"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "CFG - Backup Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CFG - Backup Config": {
        "main": [
          [
            {
              "node": "N8N - List Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "N8N - List Workflows": {
        "main": [
          [
            {
              "node": "CODE - Extract Workflow IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CODE - Extract Workflow IDs": {
        "main": [
          [
            {
              "node": "N8N - Get Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "N8N - Get Workflow": {
        "main": [
          [
            {
              "node": "CODE - Prepare GitHub Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "GitHub - Create Backup File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub - Create Backup File": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CODE - Prepare GitHub Files": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "172e5319-e9ce-4e71-838e-8a85eb655169",
    "activeVersionId": null,
    "versionCounter": 277,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-05-18T08:48:44.409Z",
        "createdAt": "2026-05-18T08:48:44.409Z",
        "role": "workflow:owner",
        "workflowId": "D6EbsMm8Momg4iPO",
        "projectId": "qlEaY3fnWiZ7Khw6",
        "project": {
          "updatedAt": "2026-05-18T12:36:49.449Z",
          "createdAt": "2026-05-14T17:32:02.968Z",
          "id": "qlEaY3fnWiZ7Khw6",
          "name": "ale castro <oceansentinella@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "29b39541-7e2a-40bc-8c49-32c8cee71352"
        }
      }
    ],
    "tags": [],
    "activeVersion": null
  }
}