workflows/2026-05-18/n8n_all_workflows_backup__2026-05-18T17-26-24-544Z.json
{
  "exported_at": "2026-05-18T17:26:24.544Z",
  "source": "n8n-public-api",
  "project": "Ocean Sentinel / PILAT",
  "backup_type": "all_workflows_bundle",
  "workflow_count": 3,
  "warning": "Workflow JSON backup. Credentials secrets are not stored here.",
  "workflows": [
    {
      "updatedAt": "2026-05-18T10:24:28.052Z",
      "createdAt": "2026-05-17T18:27:58.194Z",
      "id": "5E9EwaFxBUN1kaFG",
      "name": "PILAT_002_Test_Retrieval_Doctrine",
      "description": null,
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {},
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ],
          "id": "ce7cd447-8e48-4503-a9dc-c78ecf6dc6f5",
          "name": "TRG - Start Doctrine Retrieval Test"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "b75984c9-bea1-4e3a-bdc0-ff6fe85a2221",
                  "name": "test_question",
                  "value": "Pourquoi SCENARIO != MEASURED ?",
                  "type": "string"
                },
                {
                  "id": "9686ba42-af15-4853-a8e4-3f435d4f26fb",
                  "name": "collection_name",
                  "value": "pilat_validated_doctrine_v1",
                  "type": "string"
                },
                {
                  "id": "184947ab-c667-45f6-adda-8a20acbf06e2",
                  "name": "expected_source_status",
                  "value": "VALIDATED",
                  "type": "string"
                },
                {
                  "id": "ca0ae94b-22e6-42d4-8e08-6635179e33ab",
                  "name": "expected_validation",
                  "value": "retrieval_only",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            208,
            0
          ],
          "id": "e3e9bd9e-8a2c-4a4c-b9e6-c02b2bb2cd21",
          "name": "Edit Fields (Set)"
        },
        {
          "parameters": {
            "mode": "load",
            "qdrantCollection": {
              "__rl": true,
              "value": "pilat_validated_doctrine_v1",
              "mode": "list",
              "cachedResultName": "pilat_validated_doctrine_v1"
            },
            "prompt": "={{ $json.test_question }}",
            "topK": 5,
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
          "typeVersion": 1.3,
          "position": [
            416,
            0
          ],
          "id": "1fc097d9-07a7-4a4b-99f6-6c51bbbad1b4",
          "name": "VDB - Retrieve PILAT Doctrine",
          "credentials": {
            "qdrantApi": {
              "id": "AGu8ejbcdwxIs3ie",
              "name": "Qdrant account"
            }
          }
        },
        {
          "parameters": {
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
          "typeVersion": 1.2,
          "position": [
            512,
            208
          ],
          "id": "3a727043-21aa-43ad-b64b-865dcec9ba8d",
          "name": "Embeddings OpenAI",
          "credentials": {
            "openAiApi": {
              "id": "MYYSf11WGCXxWv4r",
              "name": "OpenAI PILAT Embeddings"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const items = $input.all();\n\nconst retrievedDocuments = items.map((item, index) => {\n  const document = item.json.document || {};\n  const metadata = document.metadata || {};\n  const pageContent = document.pageContent || \"\";\n  const score = item.json.score ?? null;\n\n  return {\n    rank: index + 1,\n    score,\n    chunk_id: metadata.chunk_id || null,\n    document_title: metadata.document_title || null,\n    section_path: metadata.section_path || null,\n    statut_document: metadata.statut_document || null,\n    validation: metadata.validation || null,\n    content: pageContent\n  };\n});\n\nreturn [\n  {\n    json: {\n      question: \"Pourquoi SCENARIO != MEASURED ?\",\n      retrieved_count: retrievedDocuments.length,\n      retrieved_documents: JSON.stringify(retrievedDocuments, null, 2),\n      decision_retrieval: retrievedDocuments.length > 0 ? \"GO\" : \"HOLD\"\n    }\n  }\n];"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            768,
            0
          ],
          "id": "c0c012c2-d9bd-40db-8e38-f1873c2c1d1a",
          "name": "CODE - Validate Retrieved Doctrine"
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Question :\n{{ $json.question }}\n\nExtraits validés :\n{{ $json.retrieved_documents }}",
            "messages": {
              "messageValues": [
                {
                  "type": "AIMessagePromptTemplate",
                  "message": "=Tu es PILAT, assistant doctrinal explicable.\n\nTu dois répondre uniquement à partir des extraits fournis.\nTu ne dois pas inventer de doctrine.\nTu dois distinguer clairement SCENARIO et MEASURED.\n\nSi les extraits ne suffisent pas, réponds exactement :\n“Je ne dispose pas d’un extrait validé suffisant dans la doctrine PILAT pour répondre avec certitude.”\n\nFormat attendu :\n\n1. Réponse courte\n2. Justification doctrinale\n3. Extraits utilisés\n4. Limites\n5. Décision GO/HOLD"
                }
              ]
            },
            "batching": {}
          },
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            976,
            0
          ],
          "id": "22713969-4b28-4ac3-9db0-2b50683b16b8",
          "name": "AI - Controlled PILAT Answer"
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-5-mini"
            },
            "builtInTools": {},
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.3,
          "position": [
            1056,
            192
          ],
          "id": "8e20632e-a75f-413f-95de-94a085ee35d1",
          "name": "MODEL - OpenAI Controlled Answer",
          "credentials": {
            "openAiApi": {
              "id": "MYYSf11WGCXxWv4r",
              "name": "OpenAI PILAT Embeddings"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const item = $input.first().json;\n\nconst answer =\n  item.text ||\n  item.output ||\n  item.response ||\n  item.result ||\n  item.message ||\n  JSON.stringify(item);\n\nreturn [\n  {\n    json: {\n      status: \"GO\",\n      mode: \"controlled_qa\",\n      public_chatbot: false,\n      source_collection: \"pilat_validated_doctrine_v1\",\n      question: item.question || \"Pourquoi SCENARIO != MEASURED ?\",\n      answer,\n      doctrine_rule: \"SCENARIO != MEASURED\",\n      decision: \"GO for controlled QA review; HOLD public chatbot\",\n      next_action: \"Review the controlled answer, then test the next doctrine question.\"\n    }\n  }\n];"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1328,
            0
          ],
          "id": "1286c1fb-377f-4364-ae34-6d955bd10f09",
          "name": "CODE - Format Controlled QA Response"
        }
      ],
      "connections": {
        "TRG - Start Doctrine Retrieval Test": {
          "main": [
            [
              {
                "node": "Edit Fields (Set)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields (Set)": {
          "main": [
            [
              {
                "node": "VDB - Retrieve PILAT Doctrine",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Embeddings OpenAI": {
          "ai_embedding": [
            [
              {
                "node": "VDB - Retrieve PILAT Doctrine",
                "type": "ai_embedding",
                "index": 0
              }
            ]
          ]
        },
        "VDB - Retrieve PILAT Doctrine": {
          "main": [
            [
              {
                "node": "CODE - Validate Retrieved Doctrine",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "CODE - Validate Retrieved Doctrine": {
          "main": [
            [
              {
                "node": "AI - Controlled PILAT Answer",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "MODEL - OpenAI Controlled Answer": {
          "ai_languageModel": [
            [
              {
                "node": "AI - Controlled PILAT Answer",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "AI - Controlled PILAT Answer": {
          "main": [
            [
              {
                "node": "CODE - Format Controlled QA Response",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "6603cef0-26a2-42f9-af6b-fb0d104fec72",
      "activeVersionId": null,
      "versionCounter": 60,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2026-05-17T18:27:58.196Z",
          "createdAt": "2026-05-17T18:27:58.196Z",
          "role": "workflow:owner",
          "workflowId": "5E9EwaFxBUN1kaFG",
          "projectId": "qlEaY3fnWiZ7Khw6",
          "project": {
            "updatedAt": "2026-05-18T12:36:49.449Z",
            "createdAt": "2026-05-14T17:32:02.968Z",
            "id": "qlEaY3fnWiZ7Khw6",
            "name": "ale castro <oceansentinella@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "29b39541-7e2a-40bc-8c49-32c8cee71352"
          }
        }
      ],
      "tags": [],
      "activeVersion": null
    },
    {
      "updatedAt": "2026-05-18T16:54:04.943Z",
      "createdAt": "2026-05-18T08:48:44.407Z",
      "id": "D6EbsMm8Momg4iPO",
      "name": "TRG - Manual Backup Test",
      "description": null,
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {},
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ],
          "id": "684419dd-7cb4-417a-b7dc-31d2ca8c66f6",
          "name": "When clicking ‘Execute workflow’"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "9bd4c7cb-fb46-4c77-8fab-8c347a59b419",
                  "name": "repo_owner",
                  "value": "oceansentinelle",
                  "type": "string"
                },
                {
                  "id": "7ee0cf8b-6639-4faa-9392-504e3065aa40",
                  "name": "repo_name",
                  "value": "n8n2026",
                  "type": "string"
                },
                {
                  "id": "232eea49-99ef-43ba-be44-f6af2165892e",
                  "name": "branch",
                  "value": "main",
                  "type": "string"
                },
                {
                  "id": "eda29719-e2a7-4999-ae15-14e4f6a4820f",
                  "name": "backup_root",
                  "value": "workflows",
                  "type": "string"
                },
                {
                  "id": "87b475e1-e422-44e1-a843-dd5d3128efc3",
                  "name": "n8n_base_url",
                  "value": "https://pilat.oceansentinelle.org",
                  "type": "string"
                }
              ]
            },
            "includeOtherFields": true,
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            144,
            0
          ],
          "id": "7053b8f9-056b-4ac3-afcd-12bacc4091ba",
          "name": "CFG - Backup Config"
        },
        {
          "parameters": {
            "url": "https://pilat.oceansentinelle.org/api/v1/workflows?limit=100",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {}
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.4,
          "position": [
            352,
            0
          ],
          "id": "7cde27aa-cfc0-41e4-a7fd-c5307eb8e91e",
          "name": "N8N - List Workflows",
          "credentials": {
            "httpHeaderAuth": {
              "id": "lmpA7bvhUojvSRyb",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const cfg = $node[\"CFG - Backup Config\"].json;\n\nconst workflows = $json.data || [];\n\nif (!Array.isArray(workflows) || workflows.length === 0) {\n  return [\n    {\n      json: {\n        ...cfg,\n        status: \"NO_WORKFLOWS_FOUND\",\n        message: \"No workflows returned by n8n API.\"\n      }\n    }\n  ];\n}\n\nreturn workflows.map(workflow => ({\n  json: {\n    ...cfg,\n    workflow_id: workflow.id,\n    workflow_name: workflow.name,\n    workflow_active: workflow.active,\n    workflow_updated_at: workflow.updatedAt || null,\n    workflow_created_at: workflow.createdAt || null,\n    workflow_archived: workflow.isArchived || false\n  }\n}));"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            560,
            0
          ],
          "id": "d48ecc10-46a1-4a9a-a3d8-c1890de1a1f0",
          "name": "CODE - Extract Workflow IDs"
        },
        {
          "parameters": {
            "url": "={{$json.n8n_base_url}}/api/v1/workflows/{{$json.workflow_id}}",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpHeaderAuth",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.4,
          "position": [
            768,
            0
          ],
          "id": "3aefc4e6-6e6d-49c1-8de9-9ab2054b4c76",
          "name": "N8N - Get Workflow",
          "credentials": {
            "httpHeaderAuth": {
              "id": "lmpA7bvhUojvSRyb",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {
            "method": "PUT",
            "url": "=https://api.github.com/repos/{{$json.repo_owner}}/{{$json.repo_name}}/contents/{{$json.path}}",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "githubApi",
            "sendBody": true,
            "bodyParameters": {
              "parameters": [
                {
                  "name": "message",
                  "value": "={{$json.commit_message}}"
                },
                {
                  "name": "content",
                  "value": "={{$json.content_b64}}"
                },
                {
                  "name": "branch",
                  "value": "={{$json.branch}}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.4,
          "position": [
            1248,
            0
          ],
          "id": "a710bd26-d834-49e0-a3c4-5c107937d2af",
          "name": "GitHub - Create Backup File",
          "credentials": {
            "githubOAuth2Api": {
              "id": "a82P3hC39flyG8J8",
              "name": "GitHub account"
            },
            "githubApi": {
              "id": "cNmrftw1DHjLKKIl",
              "name": "GitHub account 2"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const cfg = $node[\"CFG - Backup Config\"].json;\nconst items = $input.all();\n\nconst now = new Date();\nconst date = now.toISOString().slice(0, 10);\nconst timestamp = now.toISOString().replace(/[:.]/g, \"-\");\n\nconst workflows = items.map((item, index) => {\n  const workflow = item.json.data || item.json;\n\n  if (!workflow.id || !workflow.name) {\n    throw new Error(\n      `Workflow item ${index + 1} is missing id or name. Check that this node is connected after \"N8N - Get Workflow\".`\n    );\n  }\n\n  return workflow;\n});\n\nconst backupPayload = {\n  exported_at: now.toISOString(),\n  source: \"n8n-public-api\",\n  project: \"Ocean Sentinel / PILAT\",\n  backup_type: \"all_workflows_bundle\",\n  workflow_count: workflows.length,\n  warning: \"Workflow JSON backup. Credentials secrets are not stored here.\",\n  workflows\n};\n\nconst jsonText = JSON.stringify(backupPayload, null, 2);\nconst contentBase64 = Buffer.from(jsonText, \"utf8\").toString(\"base64\");\n\nreturn [\n  {\n    json: {\n      repo_owner: cfg.repo_owner,\n      repo_name: cfg.repo_name,\n      branch: cfg.branch,\n      exported_at: now.toISOString(),\n      workflow_count: workflows.length,\n      path: `${cfg.backup_root}/${date}/n8n_all_workflows_backup__${timestamp}.json`,\n      content_b64: contentBase64,\n      commit_message: `backup(n8n): all workflows bundle - ${workflows.length} workflows - ${now.toISOString()}`\n    }\n  }\n];"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            976,
            0
          ],
          "id": "03207b78-b187-454f-9ccd-e0fc0951e17c",
          "name": "CODE - Prepare GitHub Bundle File"
        }
      ],
      "connections": {
        "When clicking ‘Execute workflow’": {
          "main": [
            [
              {
                "node": "CFG - Backup Config",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "CFG - Backup Config": {
          "main": [
            [
              {
                "node": "N8N - List Workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "N8N - List Workflows": {
          "main": [
            [
              {
                "node": "CODE - Extract Workflow IDs",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "CODE - Extract Workflow IDs": {
          "main": [
            [
              {
                "node": "N8N - Get Workflow",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "N8N - Get Workflow": {
          "main": [
            [
              {
                "node": "CODE - Prepare GitHub Bundle File",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "CODE - Prepare GitHub Bundle File": {
          "main": [
            [
              {
                "node": "GitHub - Create Backup File",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "12a06c96-1df7-4647-a0ce-4824dfa1d4f8",
      "activeVersionId": null,
      "versionCounter": 257,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2026-05-18T08:48:44.409Z",
          "createdAt": "2026-05-18T08:48:44.409Z",
          "role": "workflow:owner",
          "workflowId": "D6EbsMm8Momg4iPO",
          "projectId": "qlEaY3fnWiZ7Khw6",
          "project": {
            "updatedAt": "2026-05-18T12:36:49.449Z",
            "createdAt": "2026-05-14T17:32:02.968Z",
            "id": "qlEaY3fnWiZ7Khw6",
            "name": "ale castro <oceansentinella@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "29b39541-7e2a-40bc-8c49-32c8cee71352"
          }
        }
      ],
      "tags": [],
      "activeVersion": null
    },
    {
      "updatedAt": "2026-05-17T18:24:58.089Z",
      "createdAt": "2026-05-16T18:42:06.083Z",
      "id": "V1MdlcgzhWDqO0nq",
      "name": "chatbot-pilat",
      "description": null,
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {},
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            -288,
            -416
          ],
          "id": "b3091c1a-7441-4914-b271-2ba1bade9a02",
          "name": "TRG - Start Validated Doctrine Ingestion"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "9e7a62c3-73cd-48ff-b945-da04298b082d",
                  "name": "source_file",
                  "value": "/home/node/.n8n-files/pilat/artifacts/validated/pilat_production_candidate_chunks.jsonl",
                  "type": "string"
                },
                {
                  "id": "0f54f7b9-1854-4907-8916-b75c64e3f90d",
                  "name": "required_statut",
                  "value": "VALIDATED",
                  "type": "string"
                },
                {
                  "id": "e856c71e-40ec-4e9f-bb0d-bdf35422f315",
                  "name": "required_validation",
                  "value": 30,
                  "type": "number"
                },
                {
                  "id": "320b89df-1497-4a8b-9fbf-c3656184eee8",
                  "name": "expected_validated_chunks",
                  "value": 30,
                  "type": "number"
                },
                {
                  "id": "99be4823-91f1-4514-8058-7c84761aab72",
                  "name": "forbidden_statuses",
                  "value": "[\"REVIEW\",\"DRAFT\",\"DEPRECATED\",\"ARCHIVED\"]",
                  "type": "array"
                },
                {
                  "id": "4700167e-45fd-4db0-9ac1-60100b520171",
                  "name": "decision_success",
                  "value": "GO : tests de questions/réponses contrôlées",
                  "type": "string"
                },
                {
                  "id": "b75e7f3d-d878-4759-9637-6e2d95d5ed95",
                  "name": "decision_failure",
                  "value": "HOLD : chatbot public",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -96,
            -400
          ],
          "id": "47035020-11d2-4b14-9222-ca1337eb4872",
          "name": "SET - Config PILAT"
        },
        {
          "parameters": {
            "fileSelector": "={{ $json.source_file }}",
            "options": {}
          },
          "type": "n8n-nodes-base.readWriteFile",
          "typeVersion": 1.1,
          "position": [
            112,
            -400
          ],
          "id": "8dc3a368-f218-4515-a6d9-0feef69328cb",
          "name": "Read/Write Files from Disk"
        },
        {
          "parameters": {
            "operation": "text",
            "destinationKey": "jsonl_raw",
            "options": {}
          },
          "type": "n8n-nodes-base.extractFromFile",
          "typeVersion": 1.1,
          "position": [
            304,
            -384
          ],
          "id": "3b1f6e65-d892-46ec-bf9f-f6ad13ee0477",
          "name": "EXTRACT - JSONL Text"
        },
        {
          "parameters": {
            "jsCode": "const EXPECTED_COUNT = 30;\n\nfunction getExtractedText(item) {\n  return (\n    item.json.jsonl_raw ||\n    item.json.data ||\n    item.json.text ||\n    item.json.content ||\n    ''\n  );\n}\n\nconst accepted = [];\nconst rejected = [];\n\nfor (const item of $input.all()) {\n  const raw = getExtractedText(item);\n\n  const lines = String(raw)\n    .split(/\\r?\\n/)\n    .map(line => line.trim())\n    .filter(Boolean);\n\n  for (const [lineIndex, line] of lines.entries()) {\n    let obj;\n\n    try {\n      obj = JSON.parse(line);\n    } catch (error) {\n      rejected.push({\n        line: lineIndex + 1,\n        reason: 'invalid_json',\n        preview: line.slice(0, 200)\n      });\n      continue;\n    }\n\n    const statut =\n      obj.statut ||\n      obj.statut_document ||\n      obj.metadata?.statut ||\n      obj.metadata?.statut_document;\n\n    const validation =\n      obj.validation ||\n      obj.metadata?.validation;\n\n    const content =\n      obj.contenu_chunk ||\n      obj.content ||\n      obj.text ||\n      obj.pageContent ||\n      '';\n\n    const chunkId =\n      obj.chunk_id ||\n      obj.metadata?.chunk_id ||\n      `pilat_chunk_${String(lineIndex + 1).padStart(4, '0')}`;\n\n    const forbiddenStatuses = new Set([\n      'REVIEW',\n      'DRAFT',\n      'DEPRECATED',\n      'ARCHIVED'\n    ]);\n\n    if (forbiddenStatuses.has(statut)) {\n      rejected.push({\n        chunk_id: chunkId,\n        statut,\n        validation,\n        reason: `forbidden_status_${statut}`\n      });\n      continue;\n    }\n\n    if (statut !== 'VALIDATED') {\n      rejected.push({\n        chunk_id: chunkId,\n        statut,\n        validation,\n        reason: 'not_validated'\n      });\n      continue;\n    }\n\n    if (!content || content.length < 10) {\n      rejected.push({\n        chunk_id: chunkId,\n        statut,\n        validation,\n        reason: 'empty_or_too_short_content'\n      });\n      continue;\n    }\n\n    accepted.push({\n      json: {\n        chunk_id: chunkId,\n        document_id: obj.document_id || 'pilat_doctrine',\n        source_file: obj.source_file || 'pilat_production_candidate_chunks.jsonl',\n        document_title: obj.document_title || '',\n        section_path: obj.section_path || '',\n        version: obj.version || '1.0.0',\n        statut_document: statut,\n        validation: validation || 'validé_humainement',\n        data_status: obj.data_status || 'DOCTRINE',\n        territoire: obj.territoire || 'non_specifie',\n        date_reference: obj.date_reference || '',\n        confidence_level: obj.confidence_level || 'élevé',\n        tags: obj.tags || ['pilat', 'validated', 'doctrine'],\n        word_count: obj.word_count || null,\n        content,\n        collection_name: 'pilat_validated_doctrine_v1',\n        ingestion_rule: 'validated_human_only',\n        index_ready: true\n      }\n    });\n  }\n}\n\nif (accepted.length !== EXPECTED_COUNT) {\n  throw new Error(\n    `HOLD: expected ${EXPECTED_COUNT} validated chunks, got ${accepted.length}. Rejected: ${rejected.length}. Details: ${JSON.stringify(rejected.slice(0, 10))}`\n  );\n}\n\nreturn accepted;"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            480,
            -400
          ],
          "id": "51749447-eb3e-4d2e-a0b6-4d8c7ea6cb2a",
          "name": "CODE - Strict Validation Filter"
        },
        {
          "parameters": {
            "jsCode": "const EXPECTED_COUNT = 30;\nconst REQUIRED_COLLECTION = 'pilat_validated_doctrine_v1';\n\nconst items = $input.all();\n\nconst summary = {\n  total_items: items.length,\n  validated: 0,\n  human_validated: 0,\n  index_ready: 0,\n  wrong_collection: 0,\n  invalid_items: []\n};\n\nfor (const [index, item] of items.entries()) {\n  const j = item.json;\n\n  const isValidated = j.statut_document === 'VALIDATED';\n  const isHumanValidated = j.validation === 'validé_humainement';\n  const isIndexReady = j.index_ready === true;\n  const isRightCollection = j.collection_name === REQUIRED_COLLECTION;\n\n  if (isValidated) summary.validated++;\n  if (isHumanValidated) summary.human_validated++;\n  if (isIndexReady) summary.index_ready++;\n  if (!isRightCollection) summary.wrong_collection++;\n\n  if (!isValidated || !isHumanValidated || !isIndexReady || !isRightCollection) {\n    summary.invalid_items.push({\n      index,\n      chunk_id: j.chunk_id,\n      statut_document: j.statut_document,\n      validation: j.validation,\n      index_ready: j.index_ready,\n      collection_name: j.collection_name\n    });\n  }\n}\n\nif (summary.total_items !== EXPECTED_COUNT) {\n  throw new Error(`HOLD: expected ${EXPECTED_COUNT} chunks, got ${summary.total_items}`);\n}\n\nif (summary.invalid_items.length > 0) {\n  throw new Error(\n    `HOLD: invalid chunks detected: ${JSON.stringify(summary.invalid_items.slice(0, 10))}`\n  );\n}\n\n// Important : on certifie, puis on laisse passer les 30 chunks\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    qa_decision: 'GO',\n    qa_message: 'QA passed — chunk validated for vector ingestion.',\n    qa_expected_count: EXPECTED_COUNT,\n    qa_total_items: summary.total_items,\n    qa_validated: summary.validated,\n    qa_human_validated: summary.human_validated,\n    qa_index_ready: summary.index_ready\n  }\n}));"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            688,
            -400
          ],
          "id": "8d9cf60a-cd54-4c20-a81c-0df5d5e4a60e",
          "name": "CODE - QA Count Validated Chunks"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "d9fb0ade-b1c2-4608-9c79-fd875b9c3e6c",
                  "name": "pageContent",
                  "value": "={{ $json.content}}",
                  "type": "string"
                }
              ]
            },
            "includeOtherFields": true,
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            1056,
            -400
          ],
          "id": "a27bf687-2b24-47f1-b2f7-d0e3d4dc9a51",
          "name": "SET - Prepare Vector Documents"
        },
        {
          "parameters": {
            "mode": "insert",
            "qdrantCollection": {
              "__rl": true,
              "value": "pilat_validated_doctrine_v1",
              "mode": "list",
              "cachedResultName": "pilat_validated_doctrine_v1"
            },
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
          "typeVersion": 1.3,
          "position": [
            1328,
            -400
          ],
          "id": "4a6274e8-96ae-4d42-8035-f74913f8d308",
          "name": "VDB - Upsert PILAT Doctrine",
          "credentials": {
            "qdrantApi": {
              "id": "AGu8ejbcdwxIs3ie",
              "name": "Qdrant account"
            }
          }
        },
        {
          "parameters": {
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
          "typeVersion": 1.2,
          "position": [
            1280,
            -208
          ],
          "id": "0c7876fc-071b-4bf7-8a46-ec2cb1d761a5",
          "name": "EMB - OpenAI Doctrine Embeddings",
          "credentials": {
            "openAiApi": {
              "id": "MYYSf11WGCXxWv4r",
              "name": "OpenAI PILAT Embeddings"
            }
          }
        },
        {
          "parameters": {
            "jsonMode": "expressionData",
            "jsonData": "={{ $json.pageContent }}",
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
          "typeVersion": 1.1,
          "position": [
            1472,
            -192
          ],
          "id": "35d64ca4-9fa2-4846-86f1-65f64f3e6d60",
          "name": "Default Data Loader"
        }
      ],
      "connections": {
        "TRG - Start Validated Doctrine Ingestion": {
          "main": [
            [
              {
                "node": "SET - Config PILAT",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "SET - Config PILAT": {
          "main": [
            [
              {
                "node": "Read/Write Files from Disk",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Read/Write Files from Disk": {
          "main": [
            [
              {
                "node": "EXTRACT - JSONL Text",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "EXTRACT - JSONL Text": {
          "main": [
            [
              {
                "node": "CODE - Strict Validation Filter",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "CODE - Strict Validation Filter": {
          "main": [
            [
              {
                "node": "CODE - QA Count Validated Chunks",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "CODE - QA Count Validated Chunks": {
          "main": [
            [
              {
                "node": "SET - Prepare Vector Documents",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "SET - Prepare Vector Documents": {
          "main": [
            [
              {
                "node": "VDB - Upsert PILAT Doctrine",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "EMB - OpenAI Doctrine Embeddings": {
          "ai_embedding": [
            [
              {
                "node": "VDB - Upsert PILAT Doctrine",
                "type": "ai_embedding",
                "index": 0
              }
            ]
          ]
        },
        "Default Data Loader": {
          "ai_document": [
            [
              {
                "node": "VDB - Upsert PILAT Doctrine",
                "type": "ai_document",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "5d6aefc4-81d1-4650-a196-da1799b748f8",
      "activeVersionId": null,
      "versionCounter": 146,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2026-05-16T18:42:06.092Z",
          "createdAt": "2026-05-16T18:42:06.092Z",
          "role": "workflow:owner",
          "workflowId": "V1MdlcgzhWDqO0nq",
          "projectId": "qlEaY3fnWiZ7Khw6",
          "project": {
            "updatedAt": "2026-05-18T12:36:49.449Z",
            "createdAt": "2026-05-14T17:32:02.968Z",
            "id": "qlEaY3fnWiZ7Khw6",
            "name": "ale castro <oceansentinella@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "29b39541-7e2a-40bc-8c49-32c8cee71352"
          }
        }
      ],
      "tags": [],
      "activeVersion": null
    }
  ]
}